.statisticsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.feedbackInfo {
  display: flex;
  gap: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.feedbackTitle {
  font-weight: bold;
}

.feedbackValue {
  color: #333;
}
