.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #9ce6f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.heading {
  text-align: center;
  color: #0a0a0a;
  font-size: 28px;
}
